.userIcon {
  align-items: center;
  background: #fde3d3;
  border-radius: 999px;
  color: #111111;
  display: inline-flex;
  font-size: 14px;
  font-weight: 400;
  height: 65px;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  width: 65px;
}

.userIcon:hover {
  background: #f8d4bd;
}